<html>

<body>


<form action="/pay" method="POST">
    <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key=pk_test_ezs6iIMCEF3EB8IDeOca4rwE
            data-amount="2000"
            data-name="Demo Site"
            data-description="2 widgets ($20.00)"
            data-image="/128x128.png"
            data-label="Pay with Card or Alipay"
            data-locale="auto"
            data-currency="usd"
            data-alipay="true">
    </script>
</form>



</body>
</html>